body {
	font-family: 'Courier New', monospace;
    font-size: 2vw;
    color: #b4ff00;
    background-color: #0b1a12;
}
a:link {
    color: #b4ff00; /* link nevizitat */
}
a:visited {
    color: #b4ff00; /* link vizitat */
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px none #b4ff00;
    background-color: #0b1a12;
}
th, td {
    padding: 6px 6px; /* sus-jos și stânga-dreapta */
}
#recent-commits .commit-message {
    display: block;
    margin-bottom:8px;
}
.commit-item {
    padding: 12px 0;
}